<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<div id="Upload File">
    <h1>Upload new file</h1>
    <form method="post" enctype="multipart/>form-data">
        <input type="file" name="file" />
        <br>
        <input type="submit" value="Transcribe" />

    </form>

    {% if transcript != "" %}
    <div id="speechTranscriptContainer">
        <h1>Transcript</h1>
        <p>{{transcribe}}</p>
    </div>
    {% endif %}
</div>

</body>
</html>